$line-height: 1.5;
$font-size-text: 1.25rem;

.OneBlogBox {
  font-family: Montserrat, "sans-serif";
  padding: 0px 120px;

  .Title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .Subtitle {
    font-size: 1.3rem;
    font-weight: 500;
  }
  div {
    p {
      font-size: $font-size-text;
      line-height: $line-height;
      font-weight: 300;
      text-align: justify;
    }

    blockquote {
      background: rgba(#e7e7e7, 0.3);
      border-radius: 10px;
      border-left: 10px solid rgba(#1282a2, 0.5);
      margin: 0;
      padding: 20px 20px;
      font-size: $font-size-text;
      line-height: $line-height;
      font-weight: 300;
      text-align: justify;
    }
  }
}
