.Footer {
  display: flex;
  background: rgba(#1282a2, 0.2);
  padding: 60px 120px;
  justify-content: space-between;

  @media (max-width: 575.98px) {
    flex-direction: column;
    padding: 20px 20px;
  }

  .Navbar {
    display: flex;
    align-content: space-between;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 75%;

    @media (max-width: 575.98px) {
      margin: 20px 0px;
    }

    > a {
      min-width: 30%;
        

      @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 20px;
        margin: 10px;
      }
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }

  .BrandAndButton {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }
}
