.Brand {
  display: block;
  width: 212px;
  height: 95px;
  font-family: Equinox;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #1282a2;
}
